<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
  <h1>
    {{ actor.username }}
{#    <a href="{% url 'theatre:actor-delete' pk=driver.id %}" class="btn btn-danger link-to-page">#}
{#      Delete#}
{#    </a>#}
{##}
{#    <a href="{% url 'theatre:actor-update' pk=actor.id %}" class="btn btn-secondary link-to-page">#}
{#      Update actor's data#}
{#    </a>#}
  </h1>

  <p><strong>{{ actor.first_name }} {{ actor.last_name }} </strong> </p>
    <p><strong> Since {{ actor.year_of_joining }}</strong> </p>
  <p><strong>Average fee:</strong> {{ actor.average_fee }}</p>
  <p><strong>Is staff:</strong> {{ actor.is_staff }}</p>
      {% if actor.awards %}
    <ul>
      {% for award in actor.awards.all %}
        <li>
          {{ award.name }} ({{ award.nomination }}, {{ award.year }})
        </li>
      {% endfor %}
  {% endif %}
      {% if actor.plays.all != 0 %}
    <ul>
      {% for play in actor.plays.all %}
        <li>
          Current plays: {{ award.name }} ({{ award.nomination }}, {{ award.year }})
        </li>
      {% endfor %}
    </ul>
  {% endif %}


{% endblock %}
