
{% extends 'includes/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="marg-left" style="display: inline-block">
  <h1 style="color: white">{{ object|yesno:"Update,Create" }} actor</h1>
{#  <form action="" method="post" novalidate>#}
{#    {% csrf_token %}#}
{#    {{ form|crispy }}#}
{##}
{#    <input type="submit" value="Submit" class="btn btn-primary">#}
{#  </form>#}
    <form action="" method="post" novalidate class="btn-block">
  {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
  </div>
{% endblock %}
