<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load crispy_forms_filters %}



{% block content %}
  <a style="float: right" href="{% url 'backstage:award-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    <a href="{% url "backstage:award-list" %}" class="btn btn-primary link-to-page"><h1>Awards</h1></a>
        {% if award_list %}
            {% for award in award_list %}
                <p>{{ award.name }}, est. {{ award.year }}</p>
            {% endfor %}
            {% else %}
            <p>There are no awards yet</p>
        {% endif %}


{% endblock %}
