<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
  <h1> Director:

  </h1>

  <p><strong>{{ director.first_name }} {{ director.last_name }} </strong> </p>
  <p><strong>Is staff:</strong> {{ actor.is_staff }}</p>
       {% if director.director_awards.all != 0 %}
        Awards:
      {% for award in director.director_awards.all %}
        <li>
          {{ award.name }} ({{ award.nomination }}, {{ award.year }})
        </li>
      {% endfor %}
      {% endif %}
     <a style="float: bottom" href="{% url "backstage:director_award_create" pk=director.id %}"  class="btn btn-secondary link-to-page"><h5>Add award</h5></a>
      {% if director.plays.all != 0 %}
    <ul>
     >
      {% for play in director.plays.all %}
        <li>
          Current plays: {{ play.name }}, ({{ play.genre }}, premiere: {{ play.day_of_premiere }})
        </li>
      {% endfor %}
      {% else %}
          No current plays
      {% endif %}
    </ul>
                <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Updater</th>
        <th>Delete</th>
      </tr>
    {% for actor in actor_list %}
      <tr>
        <td>{{ actor.id }}</td>
        <td>{{ actor.username }} </td>
        <td>{{ actor.first_name }}</td>
        <td>{{ actor.last_name }}</td>
        <td><a href="{% url "backstage:actor-update" pk=actor.id %}" class="btn btn-primary link-to-page"></a></td>
        <td><a href="{% url "backstage:actor-delete" pk=actor.id %}" class="btn btn-primary link-to-page"></a></td>
      </tr>
    {% endfor %}


{% endblock %}
