<!DOCTYPE html>
<html lang="en">
{% extends 'includes/base.html' %}
{% load crispy_forms_filters %}



{% block content %}
  <br>
  <a style="float: right" href="{% url 'backstage:director-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
  <h3>Our Directors:</h3>
    <a href="{% url "backstage:director-list" %}" ></a>
        {% if director_list %}
            {% for director in director_list %}
                <p><a href="{% url "backstage:director-detail" pk=director.id  %}" class="btn btn btn-outline-secondary  link-to-page"><strong style="font-size: 20px ">{{ director.first_name }} {{ director.last_name }}</strong>
    </a></p>
            {% endfor %}
            {% else %}
            <p>There are no directors in the theatre</p>
        {% endif %}


{% endblock %}
