<!DOCTYPE html>
<html lang="en">
{% extends 'includes/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <a style="float: right" href="{% url 'backstage:genre-create' %}" class="btn btn-primary link-to-page">
  {{ form|crispy }}
 Create</a>
  <br>

    <h2>Genres</h2>
        {% if genre_list %}
            {% for genre in genre_list %}
              <hr><h3 class="btn btn-outline-secondary" class="form-inline">{{ genre.name }} </h3>
                  {% if genre.plays.all != 0 %}
                  {% for play in genre.plays.all %}
                      <ul><li><a href="{% url "backstage:play-detail" pk=play.id %}">{{ play.name }}</a></li></ul>
                  {% endfor %}

                {% endif %}
            {% endfor %}
            {% else %}

            <p>There are no genres yet</p>
        {% endif %}

{% endblock %}
