<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{#{% load crispy_forms_filters %}#}

{% block content %}
    <a href="{% url "backstage:genre-list" %}" class="btn btn-primary link-to-page"><h1>Our Directors</h1></a>
        {% if genre_list %}
            {% for genre in genre_list %}
{#                <p><a href="{% url "backstage:director-detail" pk=director.id  %}" class="btn btn-secondary link-to-page">{{ director.first_name }} {{ director.last_name }}#}
{#    </a></p>#}
              <h3>{{ genre.name }}:</h3>
                {% if genre.plays.all != 0 %}
                {% for play in genre.plays.all %}
                <p>{{ play.name }}</p>
                {% endfor %}
                {% endif %}
            {% endfor %}
            {% else %}
            <p>There are no genres yet</p>
        {% endif %}


{% endblock %}
