
<!DOCTYPE html>
<html lang="en">
{% extends 'includes/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
  <br>
    <a style="float: right" href="{% url 'backstage:play-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
  <br>
  <h2>Archive:</h2>
  <br>
  <form action="" method="get" class="form-inline">
    {{ search|crispy }}
    <input class="btn btn-outline-secondary" type="submit" value="!">
  </form><br><br>
        {% if archive_plays %}
            {% for play in archive_plays %}
              <ul>
                <li><a href="{% url "backstage:play-detail" pk=play.id  %}" class="btn btn-outline-secondary link-to-page">
                  <strong>{{ play.name }}</strong> ({{ play.genre }}, premiere: {{ play.day_of_premiere }})</a></li></ul>

            {% endfor %}
            {% else %}
            <p>There are no data about upcoming plays yet</p>
        {% endif %}


{% endblock %}
