<!DOCTYPE html>
<html lang="en">

{% load crispy_forms_filters %}

{% block content %}
    <a style="float: right" href="{% url 'backstage:play-create' %}" class="btn btn-primary link-to-page">
        Create

      </a>
    <a href="{% url "backstage:play-list" %}" class="btn btn-primary link-to-page"><h1>Plays</h1></a>
{#  <a href="{% url "backstage:award_create" %}" class="btn btn-primary link-to-page"><h1>Plays</h1></a>#}
  <br>
  <form action="" method="get" class="form-inline">
    {{ search|crispy }}
    <input class="btn btn-secondary" type="submit" value="!">
  </form>
    <h2>Current plays:</h2>
        {% if play_list %}
            {% for play in play_list %}
              <p><a href="{% url "backstage:play-detail" pk=play.id  %}" class="btn btn-secondary link-to-page">{{ play.name }}, {{ play.genre }}, {{ play.day_of_premiere }}
    </a></p>

            {% endfor %}
            {% else %}
            <p>There are no current plays in the theatre now</p>
        {% endif %}


{% endblock %}
