<!DOCTYPE html>
<html lang="en">
{% extends 'includes/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
<div class="marg-left">
  <a style="float: right" href="{% url 'backstage:review-create' %}" class="btn btn-primary link-to-page">
        Create</a>
            {% for review in review_list %}
             <p><a href="{% url 'backstage:review-detail' pk=review.id %}" target="_blank" class=" me-xl-5 me-3 mb-sm-0 mb-2 btn text-decoration-underline" style="font-size: 25px; color: lavender">{{ review.header }}</a></p>
             <p><strong>{{ review.source }}</strong>/ {{ review.author }}, {{ review.date }}({{ review.play }})</p>
            {% endfor %}

  </div>
          {% endblock %}
