<!DOCTYPE html>
<html lang="en">
{% extends 'includes/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
  <div class="marg-left">
    <a style="float: right" href="{% url 'backstage:play-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
  <h2 style="margin-left: 20px; color: white" >Upcoming plays:</h2>
  <br>
  <div style="display: flex">
<form action="" method="get" class="form-inline">
  {{ search|crispy }}
    <input class="btn btn-outline-secondary"  type="submit" value="!">
  </form><br><br></div>
        {% if upcoming_plays.all != 0 %}
            {% for play in upcoming_plays %}
              <ul>
                <li><a href="{% url "backstage:play-detail" pk=play.id %}" class="btn btn-outline-secondary link-to-page">
                  <strong>{{ play.name }}</strong> ({{ play.genre }}, premiere: {{ play.day_of_premiere }})</a></li></ul>

            {% endfor %}
            {% else %}
            <p>There are no data about upcoming plays yet</p>
        {% endif %}

 </div>
{% endblock %}
