<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
      Theatre service - {% block title %}{% endblock %}
    </title>

    <!-- Favicon -->
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    <link id="pagestyle" href="{% static 'css/soft-ui-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="g-sidenav-show bg-gray-100" class="position-fixed bottom-0">
{% include "includes/sidebar.html" %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        {% include "includes/navigation.html" %}
      <div class="content-block">  {% block content %}{% endblock content %}
    {% include "includes/footer-fullscreen.html" %}

    {% block pagination %}
                {% include "includes/pagination.html" %}
    {% endblock %}
      </div>
    </main>
</body>
</html>
