<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'backstage:play-list' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'backstage:actor-list' %}">All actors</a></li>
  <li class="list-group-item"><a href="{% url 'backstage:director-list' %}">All directors</a></li>
  <li class="list-group-item"><a href="{% url 'backstage:genre-list' %}">All genres</a></li>
  <li class="list-group-item"><a href="{% url 'backstage:play-archive' %}">Archive</a></li>
  <li class="list-group-item"><a href="{% url 'backstage:play-upcoming' %}">Soon</a></li>
</ul>
